{% extends 'cine/base.html' %}

{% block title %}
    Detalles de {{ object.nombre }}
{% endblock %}

{% block content %}
    <h1>{{ object.nombre }}</h1>
    <p>Nacionalidad: {{ object.nacionalidad }}</p>
    <p>Fecha de nacimiento: {{ object.fecha_nacimiento }}</p>
    
    <h2>Películas dirigidas:</h2>
    <ul>
        {% for pelicula in object.pelicula_set.all %}
            <li><a href="{% url 'pelicula_detail' pelicula.id %}">{{ pelicula.titulo }}</a></li>
        {% empty %}
            <li>No hay películas registradas.</li>
        {% endfor %}
    </ul>
{% endblock %}
